# python virtual environment
.venv/

# pytest files
.pytest*/

# pycache
__pycache__/

# my personal scratchpad folder
scratchpad/

# other python files
*.egg-info

# jupyter notebook folder
.ipynb_checkpoints/
debug.log

# documentation build folder
doc/build