# python virtual environment
.venv/

# pytest folder
.pytest_cache/

#pytest-cov file
.coverage

# pycache
__pycache__/

# my personal scratchpad folder
scratchpad/

# other python files
*.egg-info

# jupyter notebook folder and files
.ipynb_checkpoints/
debug.log
Untitled*.ipynb

# documentation build folder
doc/build

# mypy folder
.mypy_cache/

# any